.storya-shape-circle {
    display: inline-block!important;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 100%
}

.storya-shape-rectangle {
    display: inline-block!important;
    width: calc(18px*1.5);
    height: 18px;
    background-color: #FFFFFF
}

.storya-shape-triangle {
    display: inline-block!important;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #FFFFFF
}

.storya-shape-trapeziod {
    display: inline-block!important;
    width: 16px;
    height: 0;
    box-sizing: content-box;
    border-left: calc(16px/2) solid transparent;
    border-right: calc(16px/2) solid transparent;
    border-bottom: 16px solid #FFFFFF
}

.storya-shape-diamond {
    display: inline-block!important;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    transform: rotate(45deg)
}

.storya-shape-parallelogram {
    display: inline-block!important;
    width: calc(14px*1.5);
    height: 14px;
    background-color: #FFFFFF;
    transform: skew(-20deg)
}


/* 171616 */